{% extends 'base.html' %}

{% block title %}
    cs50
{% endblock %}

{% block contentTitle %}
    <h1 class="display-4">ECDL Computing</h1>
{% endblock %}

{% block content %}
    <ul class="list-unstyled">
        <li><a href="https://gist.github.com/mschori/5c00553dc3b38d11dc8eb7eb5cedf00a" target="_blank">Kapitel 2</a></li>
        <li><a href="https://gist.github.com/mschori/78b57e972582ed0adf1ad9cf51114237" target="_blank">Kapitel 3 bis 5</a></li>
        <li><a href="https://gist.github.com/mschori/518ecf110661cc81d947b32df36f8091" target="_blank">Kapitel 6</a></li>
        <li><a href="https://gist.github.com/mschori/1485a85b4203d23589ba1aa7e252deea" target="_blank">Kapitel 7</a></li>
        <li><a href="https://gist.github.com/mschori/3f41877eb5c69f7d2c4c698c853e9c89" target="_blank">Kapitel 8</a></li>
        <li><a href="https://gist.github.com/mschori/d65dd411defcce8e5606b02f40ebb824" target="_blank">Kapitel 9</a></li>
        <li><a href="https://gist.github.com/mschori/0162692522c460a6125754049c034933" target="_blank">Kapitel 10</a></li>
        <li><a href="https://gist.github.com/mschori/eda42470b8f0179e8db7ffba72baefc3" target="_blank">Kapitel 11</a></li>
    </ul>
{% endblock %}