{% extends 'base.html' %}

{% block title %}
    cs50
{% endblock %}

{% block contentTitle %}
    <h1 class="display-4">ECDL Computing</h1>
{% endblock %}

{% block content %}
    <ul class="list-unstyled">
        <li><a href="https://gist.github.com/mschori/5c00553dc3b38d11dc8eb7eb5cedf00a" target="_blank">Kapitel 2</a></li>
        <li><a href="https://gist.github.com/mschori/20a7db2c7b2108b772f608e17b984424" target="_blank">Kapitel 3 bis 5</a></li>
        <li><a href="https://gist.github.com/mschori/518ecf110661cc81d947b32df36f8091" target="_blank">Kapitel 6</a></li>
        <li><a href="https://gist.github.com/mschori/a8888e72bfad07c2396b5839fae244b0" target="_blank">Kapitel 7</a></li>
        <li><a href="https://gist.github.com/mschori/a4f89efebbf8325d5db6d37dde5297e6" target="_blank">Kapitel 8</a></li>
        <li><a href="https://gist.github.com/mschori/b44bf429cbd6c5788a39e867429d698f" target="_blank">Kapitel 9</a></li>
        <li><a href="https://gist.github.com/mschori/b03e81783efc02df4d17edb44f899394" target="_blank">Kapitel 10</a></li>
        <li><a href="https://gist.github.com/mschori/eda42470b8f0179e8db7ffba72baefc3" target="_blank">Kapitel 11</a></li>
    </ul>
{% endblock %}