{% extends 'base.html' %}

{% block title %}
    cs50
{% endblock %}

{% block contentTitle %}
    <h1 class="display-4">ECDL Computing</h1>
{% endblock %}

{% block content %}
    <ul class="list-unstyled">
        <li><a href="https://gist.github.com/mschori/1bfe5b8d3172e953f613a6ceeb637b46" target="_blank">Kapitel 2</a></li>
        <li><a href="https://gist.github.com/mschori/78b57e972582ed0adf1ad9cf51114237" target="_blank">Kapitel 3 bis 5</a></li>
        <li><a href="https://gist.github.com/mschori/0706da98231bcda75e3d0ae99af62837" target="_blank">Kapitel 6</a></li>
        <li><a href="https://gist.github.com/mschori/1485a85b4203d23589ba1aa7e252deea" target="_blank">Kapitel 7</a></li>
        <li><a href="https://gist.github.com/mschori/3f41877eb5c69f7d2c4c698c853e9c89" target="_blank">Kapitel 8</a></li>
        <li><a href="https://gist.github.com/mschori/d65dd411defcce8e5606b02f40ebb824" target="_blank">Kapitel 9</a></li>
    </ul>
{% endblock %}